<%= form_with(model: [ @restaurant, @restaurant.menus.build ]) do |form| %>

  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this @menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<br>
<br>

<div class="card text-center py-5">
<div class="field">
    <%= form.hidden_field :restaurant_id, id: :restaurant_id, value: @restaurant.id %>
</div>

<!-- <div class="field">
  <%= " Restaurant ID" %>
  <%= @restaurant.id %>
  <br>
  <% form.label :restaurant_id %>
  <% form.text_area :restaurant_id, id: :restaurant_id %>
</div> -->

<%= @menu.title%>
<div class="field">
  <strong><%= form.label :title, 'Menu Title' %>:</strong>
  <%= form.text_field :title, id: :menu_title, placeholder: "Brunch, Dinner, Drink", :required => true %>
</div>

<br>

  <div class="actions">
    <%= form.submit  class: 'btn btn-success' %>
  </div>
<% end %>
</div>
