<%= form_with(model: @menu, local: true) do |form| %>

  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this @menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p id="notice"><%= notice %></p>

  <div class="card">
    <br>
    <div class="container">
      <br>
      <h1 class="display-4"> Edit <%= @menu.title.capitalize %> Menu  </h1>
      <br>
      <br>
    </div>
  </div>

  <br>

  <br>


<div class="card">
  <br>
  <br>

  <div class="field">
    <strong><%= form.label :title, 'Menu Title:' %> </strong>
    <%= form.text_field :title, id: :menu_title %>

    <br>
    <br>

      <div class="actions">
        <%= form.submit  class: 'btn btn-sm btn-success' %>
      </div>

    <% end %>

  </div>

  <br>
  <br>
</div>

<br>

<hr>
<br>

<div>
  <%= link_to 'Back', :back, class:"btn btn-primary", :style => "color: #f8f8f8;" %>
</div>
