<p id="notice"><%= notice %></p>

<div class="card py-5 text-center">


  <h1> <%= "#{@restaurant.title}"%> Menus</h1>

  <br>

  <div class="container">


  <div class="container">
    <%= link_to "Add Menu", new_restaurant_menu_path(@restaurant), class:"btn btn-block btn-success", :style => "color: #f8f8f8;"  %>
  </div>

  <br>

    <div class="conatiner">
    <% @menus.each do |menu| %>
      <div class="card">
        <br>
        <div class="card-body text-center">
          <h5 class="card-title"> <%= menu.title %> </h5>
          <h6 class="card-title"> Restaurant ID who posted menu: <%= menu.restaurant_id %> </h6>

          <%= link_to 'Show', menu_path(menu), class:"btn btn-primary", :style => "color: #f8f8f8;" %>


        </div>
        <div class="card-footer text-muted text-center">
            Added <%= time_ago_in_words(menu.created_at) %> ago.
        </div>

        <% end %>
      </div>
    </div>
  <hr>
  <br>

  <div class="text-center">
    <%= will_paginate @menus, page_links: false %>
    <!-- <%= will_paginate(@menus) %> -->
  </div>

  <hr>


  <br>
  <div>
  <%= link_to 'Back', :back, class:"btn btn-primary", :style => "color: #f8f8f8;"  %>
  </div>

</div>
