<p id="notice"><%= notice %></p>

  <%= @menu.title %>

<br>
<%= link_to 'Edit Menu', edit_restaurant_menu_path(@restaurant, @menu), class:"btn btn-outline-secondary" %>

<%= link_to 'Delete Menu', restaurant_menu_path(@restaurant, @menu) , method: :delete, data: { confirm: 'Are you sure you would like to delete this menu forever?' }, class:"btn btn-danger", :style => "color: #f8f8f8;"  %>

<br>


<br>
<%= link_to 'Back', :back, class:"btn btn-primary", :style => "color: #f8f8f8;"  %>
