<p id="notice"><%= notice %></p>

<% if 1 >= @items.count  %>
<div class="card text-center py-5">
  <a href="/restaurants/new">
      <h5>
        <font color="red">
          You Need to Add At Least 2 Items to Generate a Random Item.
        </font>
      </h5>
  </a>
</div>

<% else %>

<h1 class="text-center"> Random Item</h1>
<div class="card">
  <div class="card-header text-center ">
    You Got
  </div>
  <div class="card-body text-center">
    <h2 class="card-title"> <%= @selected_item.item_name %> </h2>
    <p class="card-text"> <%= @selected_item.description%></p>
    <%= link_to 'Show', item_path(@selected_item), class:"btn btn-primary", :style => "color: #f8f8f8;"  %>

  </div>
  <div class="card-footer text-muted text-center">
      Added <%= time_ago_in_words(@selected_item.created_at) %> ago.
  </div>
  </div>
</div>

<% end %>

<br>
<%= link_to 'Back', :back, class:"btn btn-primary", :style => "color: #f8f8f8;"  %>
