<p id="notice"><%= notice %></p>

<% if 1 >= @restaurants.count  %>

  <div class="card text-center py-5">
    <h5>
      <font color="red">
        <%= link_to 'You Need to Add At Least 2 Restaurants to Generate a Random Restaurant.', new_user_restaurant_path(@user), :style => "color: #f40404;" %>
        </font>
    </h5>
  </div>

<% else %>

<br>
<br>

<div class="float-right">

    <%= link_to "My Profile", user_path(@user), :style=>'color:#291f41;' %>
    >
    <strong>
    <u>
      <%= link_to "Random Restaurant", selected_random_restaurant_path, :style=>'color:#291f41;' %>
    </u>
    </strong>
</div>
<br>


<div class="card">
  <div class="container">
    <br>
    <br>
    <h1 class="display-4"> Random Restaurant </h1>
    <br>
    <br>
  </div>
</div>

<br>
<br>
    <br>
    <div class="card">
      <div class="card-header text-center ">
        <h2>
        You Got
        </h2>
      </div>

      <div class="card-body text-center">
        <h2 class="card-title display-4">
          <%= link_to "#{@selected_restaurant.title}", restaurant_path(@selected_restaurant), :style=>'color:#291f41;' %>
        </h2>

        <%= link_to 'Generate Random Restaurant', selected_random_restaurant_path, class:"btn btn-info btn-lg btn-block" %>

      </div>
      <br>
      <div class="card-footer text-muted text-center">
          Added <%= time_ago_in_words(@selected_restaurant.created_at) %> ago.
      </div>
    </div>



  <br>
  <br>

<% end %>
<br>

<%= link_to 'Back', root_path, class:"btn btn-primary", :style => "color: #f8f8f8;"  %>
