<p id="notice"><%= notice %></p>


<br>
<br>
<br>

<div class="card">
  <div class="container">
    <br>
    <br>
    <h1 class="display-4">  Welcome <%= current_user.email %> </h1>
    <br>
    <br>
  </div>
</div>

<br>
<br>
<br>

<div class="card">
  <div class="card-body">

    <% if @user_restaurants.count != nil %>
        <br>
        <h2>Restaurants</h2>

        <h4> You have <%= @user_restaurants.count %> Restaurants. </h4>


          <hr>
          <div class="container text-center">

            <%= link_to 'Generate Random Restaurant', selected_random_restaurant_path, class:"btn btn-info btn-lg" %>

            <!-- <%= link_to 'Generate Random Item', selected_random_item_path, class:"btn btn-outline-info btn-lg" %> -->

          </div>

        <hr>

        <br>

          <%= link_to 'Add Restaurant', new_user_restaurant_path(@user), class:"btn btn-success btn-block btn-lg", :style => "color: #f8f8f8;" %>

        <br>

          <div class="conatiner">
          <% @user_restaurants.each do |restaurant| %>

            <br>

            <div class="card">
              <div class="card-body">

                <h5 class="card-title">
                   <%= restaurant.title.capitalize %>
                </h5>


                <%= link_to 'View Restaurant', restaurant_path(restaurant), class:"btn btn-primary", :style => "color: #f8f8f8;" %>



                <!-- Would be rad to put view menus here to lessen confusion -->
                <!-- Would be rad to put view menus here to lessen confusion -->
                <!-- Would be rad to put view menus here to lessen confusion -->

                <!-- Button trigger modal -->
                <!-- <div>
                  <button type="button" class="btn  btn-success" data-toggle="modal" data-target="#exampleModal">
                    More Details
                  </button> -->

                  <!-- Modal -->
                  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">


hello

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- Would be rad to put view menus here to lessen confusion -->

                <!-- ending modal brah -->
                <!-- ending modal brah -->
                <!-- ending modal brah -->
                <!-- ending modal brah -->


              </div>  <!-- card body div end -->

              <div class="card-footer text-muted text-center small">
                  Added <%= time_ago_in_words(restaurant.created_at) %> ago.
              </div>
            </div>

              <% end %>
          </div>   <!-- end of container div right above loop -->

        </div>


    <% else %>

      <%= link_to "View All Restaurants",  user_restaurants_path(@user), class:"btn btn-primary btn-block"  %>

      <br>

      <%= link_to 'Generate Random Restaurant', selected_random_restaurant_path, class:"btn btn-outline-primary" %>

    <% end %>

    <br>

  </div>
</div>
