<div class="errors">
  <% if flash[:login_errors]%>
    <% flash[:login_errors].each do |error| %>
      <p style="color:red;">  <%= error %> </p>
    <% end %>
  <% end %>
</div>

<div class="errors">
  <% if flash[:register_errors]%>
    <% flash[:register_errors].each do |error| %>
      <p style="color:red;">  <%= error %> </p>
    <% end %>
  <% end %>
</div>

<div>
  <% if flash[:register_successs]%>
    <% flash[:register_successs].each do |success| %>
      <p style="color:green;">  <%= success %> </p>
    <% end %>
  <% end %>
</div>

<div>
  <% if flash[:notice]%>
      <p style="color:green;">  <%= notice %> </p>
  <% end %>
</div>


<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!-- <br>
<br>
<hr>
<h1>Need to fix Menu#edit</h1>
<h1>Need to fix Menu#edit</h1>
<h1>Need to fix Menu#edit</h1>
<hr>
<br>
<br> -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->


<h1>Landing Page</h1>
<h1>Home Page</h1>
<br>
<hr>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Welcome to the Home Page of FoodChooser </h1>

<br>

<% if current_user  %>

<h1> Welcome <%= current_user.email %> </h1>

<% else %>

<h5> Login </h5>
  <form action="/sessions" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <input type="email" name="login[email]" placeholder="Email">
    <input type="password" name="login[password]" placeholder="Password">
    <input type="submit" name="submit" class="submit">
  </form>

<br>

<h5> Sign Up </h5>
  <form action="/users" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="email" name="user[email]" placeholder="Email">
    <!-- <input type="email" name="user[email]" value="user1@gmail.com"> -->
    <input type="password" name="user[password]" placeholder="Password">
    <!-- <input type="password" name="user[password]" value="123456"> -->
    <input type="password" name="user[password_confimation]" placeholder="Password Confirmation">
    <!-- <input type="password" name="user[password_confimation]" value="123456"> -->
    <input type="submit" name="submit" class="submit">
  </form>

  <% end %>
