<div class="errors">
  <% if flash[:login_errors]%>
    <% flash[:login_errors].each do |error| %>
      <p style="color:red;">  <%= error %> </p>
    <% end %>
  <% end %>
</div>

<div class="errors">
  <% if flash[:register_errors]%>
    <% flash[:register_errors].each do |error| %>
      <p style="color:red;">  <%= error %> </p>
    <% end %>
  <% end %>
</div>

<div>
  <% if flash[:register_successs]%>
    <% flash[:register_successs].each do |success| %>
      <p style="color:green;">  <%= success %> </p>
    <% end %>
  <% end %>
</div>

<div>
  <% if flash[:notice]%>
      <p style="color:green;">  <%= notice %> </p>
  <% end %>
</div>

<h1>Welcome to FoodChooser </h1>

<br>

<p>Have you ever wondered where to eat? I feels your pain friend, hence FoodChooser! Enter a few of your favorite restaurants, click generate random restaurant and get a randomized choice. Not feeling choice 1? No Sweat, generate as many results as you please. What up Josh! What up Silva! What up Gian!  </p>

<hr>
<h3>Example Account Info:</h3>
Email: <strong>sample@example.com</strong>
<br>
Password: <strong>sampleaccount</strong>
<strong></strong>
<hr>

<br>


<% if current_user %>
  <h1> Welcome <%= current_user.email  %> </h1>
<% end %>
