<p id="notice"><%= notice %></p>
<div class="card py-5 text-center">

  <h1>Restaurants</h1>

  <br>

  <div class="container">

      <%= link_to 'Generate Random Restaurant', selected_random_restaurant_path, class:"btn btn-outline-primary" %>

  <hr>

  <div class="container">
    <%= link_to 'Add Restaurant', new_user_restaurant_path(@user), class:"btn btn-success btn-block", :style => "color: #f8f8f8;" %>
  </div>

  <br>

    <div class="conatiner">
    <% @restaurants.each do |restaurant| %>
      <div class="card">
        <br>
        <div class="card-body text-center">
          <h5 class="card-title"> <%= restaurant.title %> </h5>
          <h6 class="card-title"> User's ID who posted restaurant: <%= restaurant.user_id %> </h6>

          <%= link_to 'View Restaurant', user_restaurant_path(@user, restaurant), class:"btn btn-primary", :style => "color: #f8f8f8;" %>


        </div>
        <div class="card-footer text-muted text-center">
            Added <%= time_ago_in_words(restaurant.created_at) %> ago.
        </div>

        <% end %>
      </div>
    </div>
  <br>

  <div class="text-center">
    <%= will_paginate @restaurants, page_links: false %>
    <!-- <%= will_paginate(@restaurants) %> -->
  </div>

  <hr>


  <br>
  <div>
  <%= link_to 'Back', :back, class:"btn btn-primary", :style => "color: #f8f8f8;"  %>
  </div>

</div>
