<p id="notice"><%= notice %></p>

<div class="card py-5 text-center">

  <h1>Restaurants</h1>
  <br>

  <div class="container">

    <% if @restaurants.count == 0 %>
    <div class="card text-center py-5">
      <a href="/restaurants/new">
          <h5> Please Add At Least 2 Items So We Can Generate a Random Item. </h5>
      </a>
    </div>

  <% elsif @restaurants.count <= 1  %>
    <div class="card text-center py-5">
      <a href="/restaurants/new">
          <h5> Please Add At Least 1 More Item So We Can Generate a Random Item. </h5>
      </a>
    </div>

    <% else @restaurants.count > 2 %>
      <%= link_to 'Generate Random Restaurant', selected_random_restaurant_path, class:"btn btn-outline-primary" %>

  <% end %>

  <hr>

  <div class="container">
    <%= link_to 'New Restaurant', new_restaurant_path, class:"btn btn-success btn-block", :style => "color: #f8f8f8;" %>
  </div>

  <br>

    <div class="conatiner">
    <% @restaurants.each do |restaurant| %>
      <div class="card">

        <br>
        <div class="card-body text-center">
          <h5 class="card-title"> <%= restaurant.title %> </h5>
          <%= link_to 'Show', restaurant_path(restaurant), class:"btn btn-primary", :style => "color: #f8f8f8;"  %>
        </div>
        <div class="card-footer text-muted text-center">
            Added <%= time_ago_in_words(restaurant.created_at) %> ago.
        </div>

        <% end %>
      </div>
    </div>
  <hr>
  <br>

  <div class="text-center">
    <%= will_paginate @restaurants, page_links: false %>
    <!-- <%= will_paginate(@restaurants) %> -->
  </div>

  <hr>


  <br>
  <div class="">
  <%= link_to 'Back', :back, class:"btn btn-primary", :style => "color: #f8f8f8;"  %>
  </div>

</div>
