<div class="text-center">
<p id="notice"><%= notice %></p>


<!-- <% @menus.each do |menu| %>
<%= menu.items %>
<br>
<% end %> -->


<br>
<br>
<div class="float-right">
    <%= link_to "My Profile",  user_path(@user), :style=>'color:#291f41;' %>
    >
    <strong>
    <u>
      <%= link_to "#{@restaurant.title.capitalize}", restaurant_path(@restaurant), :style=>'color:#291f41;' %>
    </u>
    </strong>
</div>

<br>


<div class="card">
  <br>
  <div class="container">
    <br>
    <h4><strong>Restaurant: </strong> </h4><h1 class="display-4"> <%= "#{@restaurant.title.capitalize}"%></h1>
    <br>

    <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant), class:"btn btn-outline-secondary btn-sm" %>

    <%= link_to 'Delete Restaurant', restaurant_path(@restaurant) , method: :delete, data: { confirm: 'Are you sure you would like to delete this restaurant forever?' }, class:"btn btn-danger btn-sm", :style => "color: #f8f8f8;"  %>

    <br>
    <br>
    <br>
  </div>
</div>


<br>
<br>
<br>

  <div class="card container">

    <br>
    <br>
    <h2> Menus</h2>
    <h4> <%= "#{@restaurant.title.capitalize}"%> has <%= @menus.count %> menus.
    </h4>


    <!-- <hr>
    <div>
      <%= link_to 'Generate Random Item', selected_random_restaurant_path, class:"btn btn-outline-primary" %>
    </div>
    <hr> -->


    <!--  -->
    <!--  -->
    <!--  -->

<hr>
    <div class="container btn-group text-center">

      <%= link_to 'Generate Random Menu', '#', class:"btn btn-outline-info btn-lg" %>

      <%= link_to 'Generate Random Menu Item', '#', class:"btn btn-info btn-lg" %>

    </div>
    <hr>
    <!--  -->
    <!--  -->
    <!--  -->

      <%= link_to "Add Menu", new_restaurant_menu_path(@restaurant), class:"btn btn-block btn-success btn-lg", :style => "color: #f8f8f8;"  %>

    <div class="conatiner">
    <% @menus.each do |menu| %>

    <br>

      <div class="card">

        <div class="card-body">
          <h5 class="card-title">
            <%= menu.title.capitalize %> Menu
          </h5>

          <%= link_to 'View Menu', menu_path(menu), class:"btn btn-primary", :style => "color: #f8f8f8;" %>

        </div>

        <div class="card-footer text-muted text-center small">
            Added <%= time_ago_in_words(menu.created_at) %> ago.
        </div>
      </div>
    <% end %>

    </div>

    <hr>
    <br>

    <div class="text-center">
      <%= will_paginate @menus, page_links: false %>
      <!-- <%= will_paginate(@menus) %> -->
    </div>

    <div>
      <%= link_to 'Back', user_path(@user), class:"btn btn-primary", :style => "color: #f8f8f8;"  %>
    </div>

    <br>

  </div>
</div>


</div>
