<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @restaurant.Title %>
</p>

<%= render '/menus/form' %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
