<div class="text-center">

<p id="notice"><%= notice %></p>

<p>
  <h1 class="text-center">
    <strong>Restaurant:</strong>
    <%= @restaurant.title %>
    <br>
  </h1>

<h5>
  <%#= link_to 'Edit Restaurant', edit_user_restaurant_path(current_user, @restaurant), class:"btn btn-outline-secondary" %>

  <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant), class:"btn btn-outline-secondary" %>

  <%= link_to 'Delete Restaurant', restaurant_path(@restaurant) , method: :delete, data: { confirm: 'Are you sure you would like to delete this restaurant forever?' }, class:"btn btn-danger", :style => "color: #f8f8f8;"  %>

</h5>

</p>
<hr>

<div class="text-center">
<%= link_to "Add Menu", new_restaurant_menu_path(@restaurant), class:"btn btn-success", :style => "color: #f8f8f8;"  %>
</div>

<br>

<% if Menu.any? %>
    <% @menus.each do |menu| %>
        <%= menu.title %>
        <%= link_to 'View Menu', restaurant_menu_path(@restaurant, menu) %>
        <br>
      <% end %>
<% end %>

<br>
<br>

<br>
<hr>

<br>
<%= link_to 'Back', :back, class:"btn btn-primary", :style => "color: #f8f8f8;"  %>

</div>
