<p id="notice"><%= notice %></p>

<div class="card py-5 text-center">

  <h1>Menu Items</h1>
  <br>
  <hr>

  <div class="container">
  <%= link_to 'New Item', new_item_path, class:"btn btn-success btn-block", :style => "color: #f8f8f8;" %>
</div>
<br>

  <div class="conatiner">
  <% @items.each do |item| %>
    <div class="card">

      <br>
      <div class="card-body text-center">
        <h5 class="card-title"> <%= item.item_name %> </h5>
        <p class="card-text"> <%= item.description %></p>
        <%= link_to 'Show', item_path(item), class:"btn btn-primary", :style => "color: #f8f8f8;"  %>
      </div>
      <div class="card-footer text-muted text-center">
          Added <%= time_ago_in_words(item.created_at) %> ago.
      </div>

      <% end %>
    </div>
  </div>
</div>
