<p id="notice"><%= notice %></p>

<div class="card py-5 text-center">

  <h1>Menu Items</h1>
  <br>

  <div class="container">

    <% if @items.count == 0 %>
    <div class="card text-center py-5">
      <a href="/items/new">
          <h5> Please Add At Least 2 Items So We Can Generate a Random Item. </h5>
      </a>
    </div>

  <% elsif @items.count <= 1  %>
    <div class="card text-center py-5">
      <a href="/items/new">
          <h5> Please Add At Least 1 More Item So We Can Generate a Random Item. </h5>
      </a>
    </div>

    <% else @items.count > 2 %>
      <%= link_to 'Generate Random Item', selected_random_item_path, class:"btn btn-outline-primary" %>

  <% end %>

  <hr>

  <div class="container">
    <%= link_to 'New Item', new_item_path, class:"btn btn-success btn-block", :style => "color: #f8f8f8;" %>
  </div>

  <br>

    <div class="conatiner">
    <% @items.each do |item| %>
      <div class="card">

        <br>
        <div class="card-body text-center">
          <h5 class="card-title"> <%= item.item_name %> </h5>
          <p class="card-text"> <%= item.description %></p>
          <p class="card-text"> $<%= item.price %></p>
          <%= link_to 'Show', item_path(item), class:"btn btn-primary", :style => "color: #f8f8f8;"  %>
        </div>
        <div class="card-footer text-muted text-center">
            Added <%= time_ago_in_words(item.created_at) %> ago.
        </div>

        <% end %>
      </div>
    </div>
  <hr>
  <br>

  <div class="text-center">
    <!-- <%= will_paginate(@items) %> -->
    <%= will_paginate @items, page_links: false %>
  </div>

  <hr>


  <br>
  <div class="">
  <%= link_to 'Back', :back, class:"btn btn-primary", :style => "color: #f8f8f8;"  %>
  </div>

</div>
