<!DOCTYPE html>
<html>

  <head>
    <title>FoodChooser</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/"> FoodChooser </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <% if current_user %>

        <li class="nav-item">
          <a class="nav-link" href="/dashboard"> My Profile </a>
        </li>


        <li class="nav-item active">
          <a class="nav-link" href="/dashboard"> Welcome<%= current_user.email %> </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/restaurants">Restaurants <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/menus">Menu</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/items">Items</a>
        </li>

          <li class="nav-item">
             <!-- <%= link_to ' Log out', logout_path %> -->
             <a class="nav-link" href="/logout"> Logout </a>
          </li>

          <% else %>

          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/pages/about">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/restaurants">Restaurants <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/menus">Menu</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/items">Items</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/users/index">Login/Register</a>
          </li>

        <% end %>

      </ul>

    </div>
  </nav>

  <body>

    <div class="container py-5">

      <div class="errors">
        <% if flash[:login_errors]%>
          <% flash[:login_errors].each do |error| %>
            <p style="color:red;">  <%= error %> </p>
          <% end %>
        <% end %>
      </div>

      <div class="errors">
        <% if flash[:register_errors]%>
          <% flash[:register_errors].each do |error| %>
            <p style="color:red;">  <%= error %> </p>
          <% end %>
        <% end %>
      </div>

      <div class="errors">
        <% if flash[:notice]%>
          <% flash[:notice].each do |notice| %>
            <p style="color:red;">  <%= notice %> </p>
          <% end %>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
